@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first1 {
  margin-top: 40px;
}
.heading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 33rem;
  border: -1px solid;
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
  color: white;
  position: sticky;
  top: 0;
  padding: 20px;
}
.quest {
  font-size: 2rem;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.btn {
  margin: -3px;
  font-size: 1.1rem;
  width: 300px;
  padding: 11px;
  margin-left: 60px;
  transition: margin 0.7s ease-in, width 0.7s, padding 0.7s, color 0.7s;
}
.btn:hover {
  margin-left: 44px;
  color: white;
  width: 335px;
  padding: 17px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #2980b9, #6dd5fa);
  transition: margin 0.7s ease-in, width 0.7s, padding 0.7s, color 0.7s;
  box-shadow: 3px 3px black;
}
